.photo-grid__item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  justify-content: center;
  gap: 16px;

}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .photo-grid__item {
    gap: 14px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__item {
    gap: 12px;
  }
}
